<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Laptops</h2>
    </header>

    <!-- Mobile Filters & Sorting -->
    <div class="mt-8 block lg:hidden">
      <button
        class="flex cursor-pointer items-center gap-2 border-b border-gray-400 pb-1 text-gray-900 transition hover:border-gray-600"
      >
        <span class="text-sm font-medium"> Filters & Sorting </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-4 w-4 rtl:rotate-180"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
    <!-- Mobile Filters & Sorting -->

    <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8">
      <!-- Desktop Filters & Sorting -->

      <form
        action="/products/laptops/"
        method="get"
        class="hidden space-y-4 lg:block"
      >
        <!-- Sorty By -->
        <div>
          <label for="sort" class="block text-xs font-medium text-gray-700">
            Sort By
          </label>
 
          <select
            id="sort"
            name="sort"  
            class="mt-1 rounded border-gray-300 py-2.5 text-sm"
          > 
            {{#with query}}
              <option 
                {{#comp sort "===" "name-asc"}} selected {{/comp}}
                value="name-asc"
              >
                Name (asc)
              </option>

              <option
                {{#comp sort "===" "name-desc"}} selected {{/comp}}
                value="name-desc"
              >
                Name (desc)
              </option>

              <option
                {{#comp sort "===" "price-asc"}} selected {{/comp}}
                value="price-asc"
              >
                Price (asc)
              </option>

              <option
                {{#comp sort "===" "price-desc"}} selected {{/comp}}
                value="price-desc"
              >
                Price (desc)
              </option>
            {{/with}}
          </select>
        </div> 
        <!-- Sorty By -->

        <!-- Search -->
        <div x-data="{ name: '{{query.search}}' }">
          <div class="relative">
            <label for="Search" class="block text-xs font-medium text-gray-700">
              Search
            </label>

            <input
              x-model="name"
              type="text"
              id="Search"
              :name="!name ? '' : 'search'"
              placeholder="Product's name"
              class="mt-1 w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm"
            />
          </div>
        </div>
        <!-- Search -->

        <div>
          <p class="block text-xs font-medium text-gray-700">Filters</p>

          <div class="mt-1 space-y-2">

            <!-- Checkboxes -->
            <details
              x-data="{ categories: [{{#each query.categories}}'{{this}}',{{/each}}] }"
              class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between gap-2 p-2.5 text-gray-900 transition"
              >
                <span class="text-sm font-medium"> Categories </span>

                <span class="transition group-open:-rotate-180">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </span>
              </summary>

              <div class="border-t border-gray-200 bg-white">
                <header class="flex items-center justify-between p-4">
                  <span
                    class="text-sm text-gray-700"
                    x-text="`${categories.length} Selected`"
                  >
                  </span>

                  <button
                    type="button"
                    class="text-sm text-gray-900 underline underline-offset-4"
                    @click="categories = []"
                  >
                    Reset
                  </button>
                </header>

                <ul class="space-y-1 border-t border-gray-200 p-4">
                  <li>
                    <label for="Gaming" class="inline-flex items-center gap-2">
                      <input
                        type="checkbox"
                        x-model="categories"
                        id="Gaming"
                        value="Gaming"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Gaming
                      </span>
                    </label>
                  </li>

                  <li>
                    <label for="Macbook" class="inline-flex items-center gap-2">
                      <input
                        type="checkbox"
                        x-model="categories"
                        id="Macbook"
                        value="Macbook"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Macbook
                      </span>
                    </label>
                  </li>

                  <li>
                    <label
                      for="Ultrabook"
                      class="inline-flex items-center gap-2"
                    >
                      <input
                        type="checkbox"
                        x-model="categories"
                        id="Ultrabook"
                        value="Ultrabook"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Ultrabook
                      </span>
                    </label>
                  </li>

                  <input
                    class="hidden"
                    name="categories"
                    :value="categories"
                    :disabled="!categories.length"
                  />
                </ul>
              </div>
            </details>
            <!-- Checkboxes -->

            <!-- Range -->
            <details
              x-data="{ minPrice: '{{query.minPrice}}', maxPrice: '{{query.maxPrice}}', priceMsg: ''}"
              x-init="$watch('minPrice', (value) => minPrice = value < 0 ? '' : value ); 
                      $watch('maxPrice', (value) => maxPrice = value < 0 ? '' : value );"
              class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between gap-2 p-2.5 text-gray-900 transition"
              >
                <span class="text-sm font-medium"> Price </span>

                <span class="transition group-open:-rotate-180">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </span>
              </summary>

              <div class="border-t border-gray-200 bg-white">
                <header class="flex items-center justify-between p-4">
                  <span class="text-sm text-red-500" x-text="priceMsg">
                  </span>

                  <button
                    @click="minPrice = maxPrice = ''"
                    type="button"
                    class="text-sm text-gray-900 underline underline-offset-4"
                  >
                    Reset
                  </button>
                </header>

                <div class="border-t border-gray-200 p-4">
                  <div class="flex justify-between gap-4">
                    <label for="maxPrice" class="flex items-center gap-2">
                      <span class="text-sm text-gray-600">$</span>

                      <input
                        @change="priceMsg = minPrice && maxPrice && minPrice > maxPrice ? 'Please input a valid price range' : ''"
                        x-model.number="minPrice"
                        type="number"
                        id="minPrice"
                        :name="!priceMsg && minPrice ? 'minPrice' : ''"
                        placeholder="From"
                        class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                      />
                    </label>

                    <label for="maxPrice" class="flex items-center gap-2">
                      <span class="text-sm text-gray-600">$</span>

                      <input
                        @change="priceMsg = minPrice && maxPrice && minPrice > maxPrice ? 'Please input a valid price range' : ''"
                        x-model.number="maxPrice"
                        type="number"
                        id="maxPrice"
                        :name="!priceMsg && maxPrice ? 'maxPrice' : ''"
                        placeholder="To"
                        class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </details>
            <!-- Range -->

            <!-- Checkboxes -->
            <details
              x-data="{ brands: [{{#each query.brands}}'{{this}}',{{/each}}] }"
              class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between gap-2 p-2.5 text-gray-900 transition"
              >
                <span class="text-sm font-medium"> Brands </span>

                <span class="transition group-open:-rotate-180">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </span>
              </summary>

              <div class="border-t border-gray-200 bg-white">
                <header class="flex items-center justify-between p-4">
                  <span
                    class="text-sm text-gray-700"
                    x-text="`${brands.length} Selected`"
                  >
                  </span>

                  <button
                    type="button"
                    class="text-sm text-gray-900 underline underline-offset-4"
                    @click="brands = []"
                  >
                    Reset
                  </button>
                </header>

                <ul class="space-y-1 border-t border-gray-200 p-4">
                  <li>
                    <label for="Apple" class="inline-flex items-center gap-2">
                      <input
                        type="checkbox"
                        x-model="brands"
                        id="Apple"
                        value="Apple"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Apple
                      </span>
                    </label>
                  </li>

                  <li>
                    <label for="Asus" class="inline-flex items-center gap-2">
                      <input
                        type="checkbox"
                        x-model="brands"
                        id="Asus"
                        value="Asus"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Asus
                      </span>
                    </label>
                  </li>

                  <li>
                    <label for="Lenovo" class="inline-flex items-center gap-2">
                      <input
                        type="checkbox"
                        x-model="brands"
                        id="Lenovo"
                        value="Lenovo"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Lenovo
                      </span>
                    </label>
                  </li>

                  <input
                    class="hidden"
                    name="brands"
                    :value="brands"
                    :disabled="!brands.length"
                  />
                </ul>
              </div>
            </details>
            <!-- Checkboxes -->
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="mt-6 block rounded border border-teal-700 bg-teal-700 px-12 py-2.5 text-center text-sm font-medium text-white hover:bg-transparent hover:text-teal-700 focus:outline-none focus:ring active:text-teal-500"
          >
            Apply
          </button>
        </div>
      </form>
      <!-- Desktop Filters & Sorting -->

      <div class="lg:col-span-3">
        <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {{#each products}}
            <li>
              <a href="/products/laptops/{{id}}" class="group block overflow-hidden">
                <img
                  src="{{image}}"
                  alt=""
                  class="aspect-square object-cover transition duration-500 group-hover:scale-105 xsm:max-h-72"
                />

                <div class="relative bg-white pt-3">
                  <h3
                    class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                  >
                    {{name}}
                  </h3>

                  <p class="mt-2">
                    <span class="sr-only"> Regular Price </span>

                    <span class="tracking-wider text-gray-900">
                      {{price}}</span>
                  </p>
                </div>
              </a>
            </li>
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</section>