<section>
  <!-- Product -->
  <div class="relative mx-auto max-w-screen-xl px-4 py-8">
    <!-- Product general details -->
    <div class="grid grid-cols-1 items-start gap-8 md:grid-cols-2">
      <!-- Product images -->
      <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
        <img
          alt="Primary image"
          src="{{images.primary}}"
          onerror="this.onerror=null; this.src='/images/placeholder/product.webp';"
          class="aspect-[3/2] w-full rounded-xl object-cover"
        />

        <div class="grid grid-cols-2 gap-4 lg:mt-4">
          {{#each images.extras}}
            <img
              alt="Extra image"
              src="{{this}}"
              class="aspect-[3/2] w-full rounded-xl object-cover"
            />
          {{/each}}
        </div>
      </div>
      <!-- Product images -->

      <!-- Product info -->
      <div class="sticky top-0">
        {{! <strong
          class="rounded-full border border-blue-600 bg-gray-100 px-3 py-0.5 text-xs font-medium tracking-wide text-blue-600"
        >
          Pre Order
        </strong> }}

        <div class="mt-2 flex justify-between">
          <div class="max-w-[40ch]">
            <h1 class="text-2xl font-bold">
              {{product.name}}
            </h1>

            {{! <p class="mt-0.5 text-sm">Highest Rated Product</p>

            <div class="-ml-0.5 mt-2 flex">
              <svg
                class="h-5 w-5 text-yellow-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>

              <svg
                class="h-5 w-5 text-yellow-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>

              <svg
                class="h-5 w-5 text-yellow-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>

              <svg
                class="h-5 w-5 text-yellow-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>

              <svg
                class="h-5 w-5 text-gray-200"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>
            </div> }}
          </div>

          <p class="text-lg font-bold">{{product.price}}</p>
        </div>

        <details
          class="group relative mt-4 [&_summary::-webkit-details-marker]:hidden"
        >
          <summary class="block">
            <div>
              <div class="prose max-w-none group-open:hidden">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                  veniam dicta beatae eos ex error culpa delectus rem tenetur,
                  architecto quam nesciunt, dolor veritatis nisi minus
                  inventore, rerum at recusandae?
                </p>
              </div>

              <span
                class="mt-4 cursor-pointer text-sm font-medium underline group-open:absolute group-open:bottom-0 group-open:left-0 group-open:mt-0"
              >
                Read More
              </span>
            </div>
          </summary>

          <div class="prose max-w-none pb-6">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              veniam dicta beatae eos ex error culpa delectus rem tenetur,
              architecto quam nesciunt, dolor veritatis nisi minus inventore,
              rerum at recusandae?
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              nam sapiente nobis ea veritatis error consequatur nisi
              exercitationem iure laudantium culpa, animi temporibus non! Maxime
              et quisquam amet. A, deserunt!
            </p>
          </div>
        </details>

        <form
          action="/cart/"
          method="post"
          x-data="{ quantity: 1 }"
          class="mt-8"
        >
          <div class="flex">
            <!-- Input Number -->
            <div class="inline-block py-2 pr-3">
              <label for="quantity" class="sr-only">Quantity</label>

              <div class="flex items-center gap-x-1.5">
                <button
                  @click="quantity = quantity > 1 ? quantity - 1 : 1"
                  :disabled="quantity <= 1"
                  type="button"
                  class="inline-flex h-6 w-6 items-center justify-center gap-x-2 rounded-md border border-gray-200 bg-white text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                >
                  <svg
                    class="h-3.5 w-3.5 flex-shrink-0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path d="M5 12h14" /></svg>
                </button>
                <input
                  x-model.number="quantity"
                  id="quantity"
                  class="w-6 border-0 bg-transparent p-0 text-center text-gray-800 focus:ring-0 dark:text-white"
                  type="text"
                />
                <button
                  @click="quantity = quantity + 1"
                  type="button"
                  class="inline-flex h-6 w-6 items-center justify-center gap-x-2 rounded-md border border-gray-200 bg-white text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                >
                  <svg
                    class="h-3.5 w-3.5 flex-shrink-0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path d="M5 12h14" /><path d="M12 5v14" /></svg>
                </button>
              </div>
            </div>
            <!-- End Input Number -->

            <button
              @click.prevent="await addItemToCart(quantity); quantity = 1;"
              :disabled="quantity < 1"
              type="submit"
              class="ml-3 block rounded bg-teal-600 px-5 py-3 text-xs font-medium text-white hover:bg-teal-700 disabled:bg-teal-900"
            >
              Add to Cart
            </button>
          </div>
        </form>
      </div>
      <!-- Product info -->
    </div>
    <!-- Product general details -->

    <!-- Product description -->
    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="max-w-1xl prose">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          tempora possimus temporibus obcaecati quisquam itaque odio, iure cum,
          quam cupiditate error odit quos commodi est magnam iusto, consequatur
          sint aspernatur laboriosam mollitia delectus et tenetur maiores! Culpa
          nemo vero veniam dolor nihil, unde quia doloribus possimus vel
          blanditiis harum cumque.
        </p>
      </div>
      <div class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Brand</dt>
            <dd class="text-gray-700 sm:col-span-2">{{product.brand}}</dd>
          </div>

          {{#comp product.category "===" "laptops"}}
            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Screen size</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.screenSize}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Resolution</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.resolution}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">CPU</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.cpu}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">GPU</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.gpu}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">RAM</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.ram}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Storage</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.storage}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 whitespace-pre-line p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Ports</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.ports}}</dd>
            </div>
          {{/comp}}

          {{#comp product.category "===" "phones"}}
            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Screen size</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.screenSize}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Resolution</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.resolution}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Front camera</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.frontCamera}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 whitespace-pre-line p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Rear Camera</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.rearCamera}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Battery</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.battery}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Chip</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.chip}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">RAM</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.ram}}</dd>
            </div>

            <div
              class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
            >
              <dt class="font-medium text-gray-900">Storage</dt>
              <dd
                class="text-gray-700 sm:col-span-2"
              >{{product.details.storage}}</dd>
            </div>
          {{/comp}}
        </dl>
      </div>
    </div>
    <!-- Product description -->
  </div>
  <!-- Product -->

  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Related products</h2>
    </header>

    <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      {{#each relatedProducts}}
        <li>
          <a
            href="/products/{{@root.category}}/{{id}}"
            class="group block overflow-hidden"
          >
            <img
              src="{{image}}"
              alt=""
              onerror="this.onerror=null; this.src='/images/placeholder/product.webp';"
              class="aspect-[3/2] object-cover transition duration-500 group-hover:scale-105 xsm:max-h-72"
            />

            <div class="relative bg-white pt-3">
              <h3
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                {{name}}
              </h3>

              <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="tracking-wider text-gray-900">
                  {{price}}</span>
              </p>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>

  </div>

  <!-- Customer Reviews -->
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <h2 class="text-xl font-bold sm:text-2xl">Customer Reviews</h2>

    <div x-show="$store.avgRating.value">
      <div class="mt-4 flex items-center">
        <p x-text="$store.avgRating.value" class="mr-2 text-3xl font-medium">
          <span class="sr-only"> Average review score </span>
        </p>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-yellow-400"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path>
        </svg>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-x-16 gap-y-12 lg:grid-cols-2">
        {{#each reviews.others}}
          <blockquote>
            <header class="sm:flex sm:items-center">
              <span class="mr-1 text-sm text-gray-600">{{rating}}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-yellow-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
            </header>

            <p class="mt-2 text-gray-700">
              {{comment}}
            </p>

            <footer class="gap mt-4">
              <span class="text-xs text-gray-500">{{name}}</span>
              {{#if time}}
                <span class="mx-2 text-xs text-gray-400">|</span>
                <span
                  x-text="toLocalDate('{{time}}')"
                  class="text-xs text-gray-500"
                ></span>
              {{/if}}
            </footer>
          </blockquote>
        {{/each}}

      </div>
    </div>

    <div x-show="!$store.avgRating.value">
      <p class="mt-4 text-gray-700">No reviews yet.</p>
    </div>

  </div>

  <!-- User Review -->
  {{#if user}}
    <div class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 lg:px-8">
      <h3 class="font-semibold">Your review:</h3>

      <!-- Current Review -->
      <div x-show="!$store.userReview.showInputArea">
        <blockquote class="mx-0.5 my-2">
          <header class="sm:flex sm:items-center">
            <span
              x-text="$store.userReview.rating"
              class="mr-1 text-sm text-gray-600"
            ></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-yellow-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
          </header>

          <p x-text="$store.userReview.comment" class="mt-2 text-gray-700">
          </p>

          <footer class="gap mt-4">
            <span class="text-xs text-gray-500">{{user.fullName}}</span>
            <span class="mx-2 text-xs text-gray-400">|</span>
            <span
              x-text="toLocalDate($store.userReview.time)"
              class="text-xs text-gray-500"
            ></span>
          </footer>
        </blockquote>

        <div class="flex items-center justify-center gap-3">
          <button
            @click="$store.userReview.delete()"
            class="rounded bg-gray-100 px-3 py-1.5 text-sm font-medium text-teal-600 hover:bg-gray-200"
          >
            Delete
          </button>
          <button
            @click="$store.userReview.showInputArea = true"
            class="rounded bg-teal-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-teal-700"
          >
            Edit
          </button>
        </div>
      </div>
      <!-- Current Review -->

      <!-- User Review Input -->
      <template x-if="$store.userReview.showInputArea">
        <form id="reviewForm" class="my-2">
          <div>
            <label for="comment" class="sr-only">Comment</label>

            <div
              class="overflow-hidden rounded-lg border border-gray-200 shadow-sm focus-within:border-teal-600 focus-within:ring-1 focus-within:ring-teal-600 dark:border-gray-700"
            >
              <textarea
                x-model="$store.userReview.input.comment"
                id="comment"
                name="comment"
                class="w-full resize-none border-none align-top focus:ring-0 dark:bg-gray-800 dark:text-white sm:text-sm"
                rows="4"
                placeholder="Enter your review..."
              ></textarea>

              <div
                class="flex items-center justify-between gap-2 bg-white p-3 dark:bg-gray-800"
              >
                <label for="rating">
                  <div
                    x-data="{ 
                      hoverRating: 0, 
                      rate(amount) {
                        $store.userReview.input.rating = $store.userReview.input.rating == amount ? 0 : amount 
                      } 
                    }"
                  >
                    <div class="">
                      <template x-for="stars in 5" :key="stars">
                        <button
                          @click="rate(stars)"
                          @mouseover="hoverRating = stars"
                          @mouseleave="hoverRating = $store.userReview.input.rating"
                          type="button"
                          aria-hidden="true"
                          class="m-0 cursor-pointer fill-current p-0.5"
                          :class="$store.userReview.input.rating >= stars || hoverRating >= stars ? 'text-yellow-400' : 'text-gray-400'"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 transition duration-150"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                          >
                            <path
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                            ></path>
                          </svg>
                        </button>

                      </template>
                    </div>
                  </div>
                </label>
                <input
                  x-model="$store.userReview.input.rating"
                  name="rating"
                  class="hidden"
                />

                <div class="flex gap-3">
                  <button
                    @click="
                      $store.userReview.showInputArea = false; 
                      $store.userReview.updateInput();
                    "
                    x-show="$store.userReview.exists"
                    type="button"
                    class="rounded bg-gray-100 px-3 py-1.5 text-sm font-medium text-teal-600 hover:bg-gray-200"
                  >
                    Cancel
                  </button>

                  <button
                    @click.prevent="$store.userReview.submit()"
                    :disabled="!$store.userReview.validateInput()"
                    type="submit"
                    class="rounded px-3 py-1.5 text-sm font-medium text-white enabled:bg-teal-600 enabled:hover:bg-teal-700 disabled:cursor-not-allowed disabled:bg-teal-800"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </template>
      <!-- User Review Input -->
    </div>
  {{/if}}
  <!-- User Review -->
</section>

{{! prettier-ignore}}
{{#content "script"}}
  <script>
    {{#if user}}
      const productId = {{product.id}};
      const user = {
        id: {{user.id}},
        fullName: "{{user.fullName}}",
      };
    {{/if}}

      document.addEventListener("alpine:init",  () => {
        Alpine.store("avgRating", {
          value: {{nullSafe reviews.avgRating}}
        });
        
        {{#if user}}
        Alpine.store("userReview", {
          {{#with reviews.user}}
            
            init() {
                this.exists = true;
                this.rating = this.input.rating = {{rating}};
                this.comment = this.input.comment = `{{comment}}`;
                this.time = `{{time}}`;

                this.showInputArea = false;
            },
          {{/with}}

          exists: false,
          rating: null,
          comment: "",
          time: "",

          input: {
            rating: null,
            comment: "",
          },

          showInputArea: true,

          updateInput() {
            this.input.rating = this.rating;
            this.input.comment = this.comment;
          },

          validateInput() {
            return this.input.rating && this.input.comment;
          },

          async delete() {
            try {
              const response = await fetch(
                `/api/products/${productId}/reviews/${user.id}`, 
                {
                  method: "DELETE",
                },
              );

              if (!response.ok) {
                throw new Error(response.body);
              }

              const { newAvgRating } = await response.json();

              this.exists = false;
              this.rating = 0;
              this.comment = "";
              this.time = "";

              Alpine.store('avgRating').value = newAvgRating;

              this.updateInput();

              this.showInputArea = true;
              return true;
            } catch (err) {
              console.log(err);
              return false;
            }
          },

          async submit() {
            try {
              const response = await fetch(
                `/api/products/${productId}/reviews/${this.exists ? user.id : ""}`,
                {
                  method: this.exists ? "PUT" : "POST",
                  headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                  },
                  body: new URLSearchParams({
                    userId: user.id,
                    rating: this.input.rating,
                    comment: this.input.comment,
                  }),
                }
              );

              if (!response.ok) {
                throw new Error(response.body);
              }

              const data = await response.json();

              this.exists = true;
              this.time = data["time"];
              this.rating = this.input.rating;
              this.comment = this.input.comment;

              Alpine.store('avgRating').value = data["newAvgRating"];

              this.showInputArea = false;
              return true;
            } catch (err) {
              console.log(err);
              return false;
            }
          },
        });
        {{/if}}
      });

      const addItemToCart = async (quantity) => {
        try {
          const response = await fetch("/api/cart", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({
              productId: {{product.id}},
              quantity: quantity,
            }),
          });

          if (!response.ok) {
            throw new Error();
          }
          toast("Product added to your cart", {type: "success"});
        } catch (err) {
          toast("Cannot add product to your cart. Please try again!", {type: "warning"});
        }
      }
  </script>
{{/content}}