<!-- Table Section -->
<div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 sm:py-8 lg:px-8">

  <h1 class="mb-10 text-center text-2xl font-bold text-gray-700">Your orders</h1>

  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="inline-block min-w-full p-1.5 align-middle">
        <div
          class="overflow-hidden rounded-xl border border-gray-200 bg-white shadow-sm dark:border-gray-700 dark:bg-slate-900"
        >

          <!-- Table -->
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
          >
            <thead class="bg-gray-50 dark:bg-slate-900">
              <tr>
                <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                    <span
                      class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                    >
                      Order id
                    </span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                    <span
                      class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                    >
                      Amount
                    </span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                    <span
                      class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                    >
                      Status
                    </span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                    <span
                      class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200"
                    >
                      Created
                    </span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3 text-end"></th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              {{#each orders}}
                <tr
                  class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800"
                >
                  <td class="h-px w-px whitespace-nowrap">
                    <span class="block px-6 py-2">
                      <span
                        class="font-mono text-sm text-blue-600 dark:text-blue-500"
                      >#{{id}}</span>
                    </span>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                    <span class="block px-6 py-2">
                      <span
                        class="text-sm text-gray-600 dark:text-gray-400"
                        x-text="currencyFormatter.format({{total}})"
                      >
                      </span>
                    </span>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                    <span class="block px-6 py-2 capitalize">
                      <span
                        :class="{
                          'bg-teal-50 text-teal-800 ': '{{status}}' === 'paid',
                          'bg-yellow-50 text-yellow-600': '{{status}}' === 'pending',
                          'bg-red-50 text-red-600': '{{status}}' === 'canceled',
                        }"
                        class="inline-flex items-center gap-x-1 rounded-full px-1.5 py-1 text-xs font-medium"
                      >
                        {{#comp status "===" "paid"}}
                          <svg
                            class="h-2.5 w-2.5"
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                            />
                          </svg>
                        {{/comp}}
                        {{status}}
                      </span>
                    </span>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                    <span class="block px-6 py-2">
                      <span
                        class="text-sm text-gray-600 dark:text-gray-400"
                        x-text="toLocalDate('{{createdAt}}', true)"
                      >
                      </span>
                    </span>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                    <a type="button" class="block" href="/orders/{{id}}">
                      <span class="px-6 py-1.5">
                        <span
                          class="inline-flex items-center justify-center gap-2 rounded-lg border bg-white px-2 py-1 align-middle text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:hover:bg-slate-800 dark:hover:text-white dark:focus:ring-offset-gray-800"
                        >
                          <svg
                            class="h-4 w-4 flex-shrink-0"
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"
                            />
                            <path
                              d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"
                            />
                          </svg>
                          View
                        </span>
                      </span>
                    </a>
                  </td>
                </tr>
              {{/each}}
              <template x-if="{{numEntries}} === 0">
                <tr>
                  <td
                    colspan="5"
                    class="whitespace-nowrap px-6 py-4 text-center text-sm font-medium text-gray-800 dark:text-gray-200"
                  >No orders found</td>
                </tr>
              </template>
            </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div
            class="grid gap-3 border-t border-gray-200 px-6 py-4 dark:border-gray-700 md:flex md:items-center md:justify-between"
          >
            <div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <span
                  class="font-semibold text-gray-800 dark:text-gray-200"
                >{{numEntries}}</span>
                entries
              </p>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->